
body {
  // font-family: var(--rhe-theme--FontFamily--sans-serif, $rh-global--FontFamily--sans-serif);
  font-size: var(--rh-theme--font-size, #{$rh-global--FontSize});
  line-height: var(--rh-theme--line-height, #{$rh-global--LineHeight});
  font-weight: var(--rh-theme--font-weight--normal, 400);
  color: var(--rh-theme--color--text, #{$rh-global--text-color});

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

p {
  margin-bottom: var(--rh-theme--container-spacer, #{$rh-global--spacer});
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: var(--rh-theme--container-spacer, #{$rh-global--spacer});
  font-weight: var(--rh-theme--font-weight--semi-bold, 500);
  text-rendering: auto;
}
